@import "../config/globals";

$common_todos_container: 0 2px 4px rgba(0, 0, 0, .2);
.container {
    background: $background_container_color;
    box-shadow: $common_todos_container;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    &:before, &:after {
        content: '';
        position: absolute;
        top: 100%;
        background: $background_container_color;
        box-shadow: $common_todos_container;
        z-index: -1;
    }


    &:before {
        height: 10px;
        left: 4px;
        right: 4px;
    }
    &:after {
        height: 5px;
        left: 2px;
        right: 2px;
    }
}

    .container.__empty {
        .todos-list {
            display: none;
        }
        .todos-action-bar {
            display: none;
        }
        &:before, &:after{
        display: none;
        }
        .todos-add-record_select-all {
            visibility: hidden;
            pointer-events: none;
        }
    }