$border_color: #e6e6e6;
$ready_border_color: #61c3b1;
$ready_text_color: #ccc;
$not_ready_text_color: #707070;
$background_hover_element_color: #fafafa;
$action_bar_text_color: #888;
$background_container_color: #fff;
$background_body_color: #f5f5f5;